body {
    margin-top: 0;
    background: white;

}

.HomeWrap{
    display: grid;
    grid-template-rows: 10% 60% 30%;
    background: #35B27F;
}

.NavBar{
    grid-row: 1;
    background: white;
    display: flex;
    justify-content: left;
    align-content: center;
}

.HomeBody{
    grid-row: 2;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.HomeButtons{
    grid-row: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center center;
    
}

.SignInButton{
    grid-column: 1;
}
.Block{
    width: 220px;
    height: 80px;
    border-radius: 20px;
    background: #084C61;
    text-align: center;
}

.Logo{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background: #35B27F;
    text-align: center;
    text-justify: center;
}

.SignUpButton{
    grid-column: 2;
}

.Msg{
    font-size: 25px;
    font-family: Jomolhari;
}