.left-grid .btn{
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 10px 28px;
    font-size: 16px;
    font-family: 'Righteous', cursive;
    color:white;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.left-grid .btn:hover {
    background:rgb(41, 136, 98);
    text-decoration: none;
}

.curBills .btn{
    font-family: 'Righteous', cursive;
    background-color:grey;
}