.btn{
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    color:white;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {background:rgb(41, 136, 98);}