.logo {
  border-radius: 50%;
  height: 45px;
}
.logo:hover {
  cursor: pointer;
}

.active-link {
  color: #E3B505 !important;
}

.nav-user {
  /* grid-column: 3 / span 1; */
  display: grid;
  grid-template: 1fr / 1fr 50px;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
  font-size: 0.9em;
}

.avatar {
  grid-column: 2 span 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 5px;
}
.avatar:hover {
  cursor: pointer;
}

.user-msg {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  margin: 0 5px 0 10px;
}

.welcome-msg {
  grid-row: 1 span 1;
  display: flex;
  justify-content: flex-end;
}

.logout-msg {
  grid-row: 2 span 1;
  display: flex;
  justify-content: flex-end;
  color: #DB504A;
  text-decoration: underline;
  cursor: pointer;
}