body {
    margin-top: 0;
    background: white;

}

.PageWrap{
    display: grid;
    grid-template-rows: 10% 60% 30%;
    background: #35B27F;
}

.TempNavBar{
    grid-row: 1;
    background: white;
    display: flex;
    justify-content: left;
    align-content: center;
}

.HomeBody{
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeButtons{
    grid-row: 3;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    place-items: center center;
    
}

.SignInButton{
    grid-column: 1;
}
.Button{
    width: 220px;
    height: 80px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.OrDisplay{
    grid-column: 2;
}

.SignUpButton{
    grid-column: 3;
}

.Msg{
    font-size: 30px;
    font-family: Jomolhari;
}