
.right-grid h1{
    font-size: 40px;
    color: black;
    text-align:center;
    font-family:'Bungee Shade', cursive;
}
.bg-dark{
    text-align: center;
}

.groupButton .Button:hover {
    background:#35B27F;
    text-decoration: none;
}

.main-grid{
    display:grid;
    grid-template-columns:1fr 3fr;
    min-height: 100vh;
    background:#35B27F;
    color: #fff;
}

.left-grid{
    grid-column:1;
    padding: 25px 25px;
    text-align: center;
    justify-content: center;
}

.left-grid .p{
    font-size:15px;
    font-family: 'Righteous', cursive;
}

.right-grid{
    grid-column:2;
    background: #c4c4c4;
    padding: 25px 25px;
}


.right-grid p{
    color: black;
}
.right-grid h1{
    color: black;
    margin-bottom: 4%;
}

.btn:hover {background:#35B27F;}

.card {
    text-align: center;
}

.check {
    border-radius: 50%;
    height: 30px;
    float: right;
}
p{
    font-family: 'Righteous', cursive;
}

/* .right-grid .btn{
    width: 100%;
    border: none;
    background-color: inherit;
    padding: 10px 28px;
    font-size: 15px;
    color:white;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
} */
/*
.btn:hover {background:#35B27F;}
*/
