.home-buttons {
    margin-left: 14%;
    display: flex;

    padding-bottom: 50px;
}

.sign-in-button {
    grid-column: 1 span 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}

.sign-up-button {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #084C61;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.page {
    margin: 0px;
    color: #ffffff;
}

.top-box {
    background-color: #ffffff;
}

.top {
    color: #000000;
}
.bottom {
    color: #ffffff;
}

.subject-text-right {
    margin-left: 60%;
    padding-top: 11%;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Righteous', cursive;
}

.description-text-right {
    margin-left: 60%;
    font-size: 22px;
    font-family: 'Righteous', cursive;
}

.subject-text {
    margin-left: 15%;
<<<<<<< HEAD
    padding-top: 7%; 
=======
    padding-top: 5%; 
>>>>>>> 733453b1c1e6226efc3980fa22583e7cc306e602
    font-size: 40px;
    font-family: 'Righteous', cursive;
    font-weight: bold;
}

.description-text { 
    margin-left: 15%;
    font-family: 'Righteous', cursive;
    font-size: 22px;
    padding-bottom: 2%;
}

.image { 
    max-width: 700px;
    height: auto;
    box-shadow: 2px 2px 5px 1px #1d1c1c;
}

.insert-image-2{
    float: right;
<<<<<<< HEAD
    padding-top: 3%;
    margin-right: 15%;
=======
    padding-top: 50px;
    margin-right: 10%;
>>>>>>> 733453b1c1e6226efc3980fa22583e7cc306e602
}

.insert-image-3{
    float: left;
<<<<<<< HEAD
    padding-top: 3%;
    margin-left: 15%;
    padding-bottom: 3%;
=======
    padding-top: 50px;
    margin-left: 14%;
    margin-right: 3%;
    padding-bottom: 50px;
>>>>>>> 733453b1c1e6226efc3980fa22583e7cc306e602
}